/*
https://gist.github.com/genofire/07234e810fcd16f9077710d4303f9a9e
*/

* {
	border: none;
	border-radius: 0;
	font-family: "monospace";
	font-size: 9px;
	min-height: 0;
	margin: 0px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
	color: rgba(255, 0, 200, 1);
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces {
	padding: 0px;
	margin: 0px;
}

#workspaces button {
	padding: 0 2px;
	margin: 0px;
	background: transparent;
	color: #ff8700;
	/*
	color: #00afd7;
	color: #ffffff;
	border: 1px solid #00afd7;
	*/
	border: 1px solid #1b1d1e;
	font-weight: bold;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.focused {
	background: #e88939;
	background: #00afd7;
	color: #1b1d1e;
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}

#mode {
	background: #af005f;
	color: #1b1d1e;
}
#clock, #battery, #clock, #cpu, #disk, #idle_inhibitor, #memory, #network, #pulseaudio, #temperature {
	padding: 0 3px;
	margin: 0 2px;
}

#clock {
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

